

        <nav class="navbar top navbar-expand-lg navbar-light">
            @Html.ActionLink("BikeToGo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                @if (Roles.IsUserInRole("CanManageCustomers"))
                {
                    <ul class="nav navbar-nav">
                        <li><a class="nav-design">@Html.ActionLink("Rentals", "Index", "Rentals", routeValues: null, htmlAttributes: new { id = "navLink" })</a></li>
                        <li><a class="nav-design">@Html.ActionLink("Customers", "Index", "Customers", routeValues: null, htmlAttributes: new { id = "navLink" })</a></li>
                        <li><a class="nav-design">@Html.ActionLink("Bikes", "Index", "Bikes", routeValues: null, htmlAttributes: new { id = "navLink" })</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">

                        <li><a class="nav-design">@Html.ActionLink("Bikes", "Index", "Bikes", routeValues: null, htmlAttributes: new { id = "navLink" })</a></li>
                    </ul>
                }


                @if (Request.IsAuthenticated && !User.IsInRole("CanManageCustomers"))
                {

                    <ul class="nav navbar-nav">

                        <li><a class="nav-design">@Html.ActionLink("My Rentals", "MyRentals", "Customers", routeValues: null, htmlAttributes: new { id = "navLink" })</a></li>
                    </ul>

                }


                <div class="navbar-nav ml-auto">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

